#container {
    height: 300px;
    width: 80%;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    align-items: center;



}

h1 {
    text-align: center;
}

#container div {
    height: 50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}