body {
    font-family: Arial, Helvetica, sans-serif;
}

#mainImg {
    width: 35%;
}

.box {
    border: 0.25px solid black;
    background-color: lightgray;
    width: 200px;
    padding: 1rem;
}

.boxLink {
    text-decoration: none;

}

.oldImg {
    height: 200px;
    width: 200px;
    margin-right: 1rem;
}

#description {
    background-color: antiquewhite;
}

.images img {
    height: 200px;
}