* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #202020;
}

#MenuItems a:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(34, 34, 34);
}

p {
    color: #202020;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 100px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 40px;
    transition: transform 0.2s;

}

.col-2 img:hover {
    transform: translateY(-20px);

}

.col-2 h1 {
    color: #333;
    font-size: 50px;
    line-height: 70px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: radial-gradient(#64b3f4);
    border: 2px solid white;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #c2e59c;
}

.header {
    background: radial-gradient(#c2e59c, #64b3f4);
}