body {
    text-align: center;
}

div {
    border: 2px solid black;
    height: 100px;
    width: 400px;
    text-align: center;
    margin: auto;

}

button {
    margin-bottom: 20px;
    border: none;
}

button:hover {
    background-color: rgb(153, 148, 148);
}