body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
}


.btn p {
    border: 2px solid black;
    height: 100px;
    width: 400px;
    text-align: center;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}