* {
    padding: 0;
    margin: 0;
    font-family: "Tomato Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    text-transform: capitalize;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
}

.nav-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.nav-list a {
    font-size: large;
    font-weight: 500;
}

.nav-list a:hover {
    cursor: pointer;
    border-bottom: 2px solid #038e43;
}

.button-nav button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.button-nav button {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    background-color: #038e43;
    color: white;
    border: none;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container .innovate {
    width: 40%;
}

.innovate-heading h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 82px;
    color: rgb(17, 17, 17);
}

.innovate-paragraph p {
    font-size: 22px;
    font-weight: 400;
    color: #828282;
    padding-top: 20px;
}

.buid-join {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    color: #102b7b;
}

.innovate span {
    color: #038e43;
}

.img-innovate iframe {
    width: 500px;
    height: 500px;
    border-radius: 0 0 50px 0;
}