@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.btn {
    outline: none;
    border: none;
    background-color: #0cf018;
    color: white;
    font-size: 20px;
    padding: 1rem 4rem;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #28ff41;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.popupContainer {
    position: absolute;
    top: -10%;
    width: 300px;
    transform: scale(0.1);
    border-radius: 10px;
    background-color: #fff;
    visibility: hidden;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.4s linear;
}

.popupActive {
    top: 30%;
    visibility: visible;
    transform: scale(1);
}

.popupContainer h2 {
    text-align: center;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.popupContainer p {
    text-align: center;
    font-weight: 300;
    color: #666;
    margin-bottom: 1.5rem;
}

#close {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #f54949;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#close:hover {
    background-color: #ff5b5b;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}