@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(33, 31, 31);
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.btn {
    outline: none;
    border: none;
    background-color: rgb(12, 252, 24);
    color: black;
    font-size: 20px;
    padding: 1rem 4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(32, 236, 42);

}

.popupContainer {
    position: absolute;
    top: -10%;
    width: 20rem;
    transform: scale(0.1);
    border-radius: 1rem;
    background-color: #fff;
    visibility: hidden;
    padding: 1rem;
    transition: all .4s linear;
}

.popupActive {
    top: 30%;
    visibility: visible;
    transform: scale(1.1);
}

.popupContainer h2,
p {
    text-align: center;
}

#close {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: .6rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: rgb(77, 0, 0);

    background-color: rgb(245, 73, 73);
}

#close:hover {
    color: rgb(245, 73, 73);
    background-color: rgb(234, 183, 183);

}

#image {
    width: 5rem;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -4rem;
    background-color: rgb(236, 225, 66);
    border-radius: 50%;
}