section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(23, 122, 23);
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
    background-color: rgb(141, 81, 197);
}

div:nth-of-type(3n) {
    background-color: rgb(50, 204, 204);
}

/* transform */


#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(0.5);
}

#three {
    transform: translateX(100px);
}

#four {
    transform: skew(-30deg);
}

#five {
    transform: rotate(30deg) translateX(150px);

}