div {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    transition: 1s, 1s;
    /*Transition */
}

div:hover {
    background-color: black;
    border-radius: 50%;
}

#opacity {
    background-color: rgb(236, 156, 36);
    opacity: 1;
    /* 0 mean absent and 1  mean  present */
}