div {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in-out 0.2s;
    /*Transition */
}

div:hover {
    margin-top: 488px;
}

.transform {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}