body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #949291);
    font-family: 'Arial', sans-serif;
}

.mainForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(46, 45, 45, 0.7);
}

input[type="text"] {
    padding: 20px;
    border: 2px solid #f76464;
    border-radius: 4px;
    width: 450px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #ff7e5f;
    outline: none;
}

.mainForm.valid input[type="text"] {
    border-color: #81e097d5;/
}

.mainForm.invalid input[type="text"] {
    border-color: #dc3545;
}

input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
}